<!--

  All content copyright (c) 2003-2007 Terracotta, Inc.,
  except as may otherwise be noted in a separate copyright notice.
  All rights reserved.

-->

<Server port="9081" shutdown="SHUTDOWN">
  <!--
  <GlobalNamingResources>
    <Resource name="UserDatabase" auth="Container"
              type="org.apache.catalina.UserDatabase"
       description="User database that can be updated and saved"
           factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
          pathname="conf/tomcat-users.xml" />
  </GlobalNamingResources>
  -->

  <Service name="Catalina">
    <Connector port="8081" />

    <Engine name="Catalina" defaultHost="localhost">
      <Host name="localhost" appBase="." debug="100"
            unpackWARs="false" autoDeploy="false"
            xmlValidation="false" xmlNamespaceAware="false"/>
    </Engine>
  </Service>
</Server>
