<configuration>

  <appender name="TC_BASE" class="com.tc.l2.logging.BufferingAppender">
    <target>System.out</target>
    <console>true</console>
    <encoder>
      <pattern>%d [%t] %p %c - %m%n</pattern>
    </encoder>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.out</target>
    <encoder>
      <pattern>%d %p - %m%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="TC_BASE" />
  </root>

  <logger name="org.terracotta.console" level="INFO">
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="org.terracotta.dump" level="INFO">
    <appender-ref ref="TC_BASE" />
  </logger>

</configuration>

