<?xml version="1.0" encoding="ISO-8859-1"?>
<!--

  All content copyright (c) 2003-2007 Terracotta, Inc.,
  except as may otherwise be noted in a separate copyright notice.
  All rights reserved

-->
<Server port="9081" shutdown="SHUTDOWN">
    <Service name="Catalina">
        <Connector port="8081" maxKeepAliveRequests="1" />
        <Engine name="Catalina" defaultHost="localhost">
            <Host name="localhost" appBase="." debug="100" unpackWARs="false"
                autoDeploy="false" xmlValidation="false" xmlNamespaceAware="false"/>
        </Engine>
    </Service>
</Server>
