xmldoc.name = XML File Documentor
xmldoc.pseudo-elements.all = true
xmldoc.defaultRootElement = Documents

xsddoc.name = XML Schema Documentor
xsddoc.xsd.files = %DFH%/lib/xsd/XMLSchema/XMLSchema.xsd
xsddoc.ns.1.prefix = xs
xsddoc.ns.1.uri = http://www.w3.org/2001/XMLSchema
xsddoc.ns.2.prefix = xhtml
xsddoc.ns.2.uri = http://www.w3.org/1999/xhtml
xsddoc.xsd.includeGlobalTypes = true
xsddoc.defaultRootElement = Documents
xsddoc.pseudo-elements.all = on
