#
# COPYRIGHT NOTICE
#
# All content copyright Terracotta, Inc. 2005-2006. All rights reserved. Any
# copyright, redistribution, or sale is expressly prohibited except as may 
# otherwise be permitted by your applicable license agreement.
#
