<?xml version="1.0" encoding="UTF-8"?>
<!--

  All content copyright (c) 2003-2007 Terracotta, Inc.,
  except as may otherwise be noted in a separate copyright notice.
  All rights reserved.

-->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-lazy-init="false">
  <bean id="localCounter" class="demo.jmx.Counter"/>
  <bean id="clusteredCounter" class="demo.jmx.Counter"/>

  <bean id="localHistory" class="demo.jmx.HistoryQueue"/>
  <bean id="clusteredHistory" class="demo.jmx.HistoryQueue"/>

  <bean id="historyAdvice" class="demo.jmx.CounterHistoryAdvice">
    <property name="queues">
      <map>
        <entry key="localCounter" value-ref="localHistory"/>
        <entry key="clusteredCounter" value-ref="clusteredHistory"/>
      </map>
    </property>
  </bean>

  <bean id="historyAdvisor" class="org.springframework.aop.support.NameMatchMethodPointcutAdvisor">
    <property name="mappedName" value="next"/>
    <property name="advice" ref="historyAdvice"/>
  </bean>

  <bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
    <property name="beanNames">
      <list>
        <value>localCounter</value>
        <value>clusteredCounter</value>
      </list>
    </property>
    <property name="interceptorNames" value="historyAdvisor"/>
  </bean>

  <!-- JMX support -->
  <bean id="exporter" class="org.springframework.jmx.export.MBeanExporter">
    <property name="beans">
      <map>
        <entry key="jmx:type=LocalCounter" value-ref="localCounter"/>
        <entry key="jmx:type=LocalHistory" value-ref="localHistory"/>
        <entry key="jmx:type=ClusteredCounter" value-ref="clusteredCounter"/>
        <entry key="jmx:type=ClusteredHistory" value-ref="clusteredHistory"/>
      </map>
    </property>
    <property name="assembler">
      <bean class="org.springframework.jmx.export.assembler.InterfaceBasedMBeanInfoAssembler">
        <property name="interfaceMappings">
          <props>
            <prop key="jmx:type=LocalCounter">demo.jmx.ICounter</prop>
            <prop key="jmx:type=LocalHistory">demo.jmx.IHistory</prop>
            <prop key="jmx:type=ClusteredCounter">demo.jmx.ICounter</prop>
            <prop key="jmx:type=ClusteredHistory">demo.jmx.IHistory</prop>
          </props>
        </property>
      </bean>
    </property>
  </bean>
</beans>
