<?xml version="1.0" encoding="UTF-8"?>
<!--

  All content copyright (c) 2003-2006 Terracotta, Inc.,
  except as may otherwise be noted in a separate copyright notice.
  All rights reserved

-->
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="RefreshAll"
            visible="true"
            id="RefreshAll.actionSet">
         <menu
               label="TCDev"
               id="TCDev">
            <separator
                  name="refreshAllGroup">
            </separator>
            <separator
                  name="runTestGroup">
            </separator>
         </menu>
         <action
               label="&amp;Refresh All"
               icon="icons/sample.gif"
               class="refreshall.actions.RefreshAllAction"
               tooltip="Refreshes all projects"
               menubarPath="TCDev/refreshAllGroup"
               toolbarPath="refreshAllGroup"
               id="refreshall.actions.RefreshAllAction"
               definitionId="refreshall.actions.RefreshAllAction">
         </action>
         <action
               label="Run Test using Java 1.4"
               class="launch.actions.WorkbenchOptionAction"
               menubarPath="TCDev/runTestGroup"
               enablesFor="*"
               style="toggle"
               id="workbenchOptionAction">
         </action>
      </actionSet>
   </extension>
   
	<extension point="org.eclipse.ui.commands">
     <command
           name="RefreshAllProjects"
           description="Refresh All Projects"
           categoryId="org.eclipse.ui.category.project"
           id="refreshall.actions.RefreshAllAction">
     </command>
	</extension>      
	<extension point="org.eclipse.ui.bindings">
     <key
          sequence="Ctrl+F5"
          commandId="refreshall.actions.RefreshAllAction"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          contextId="org.eclipse.ui.globalScope"/>
	</extension>
   
   <extension point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            label="Terracotta test"
            icon="icons/logo16.gif"	
            helpContextId="com.tc.debug.ui.shortcut_dso_application"
            modes="run,debug"
            class="launch.LaunchShortcut"
            id="com.tc.debug.ui.dsoApplicationShortcut">
         <contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="1"/>
               <iterate>
                 <or>
                   <test property="org.eclipse.debug.ui.matchesPattern" value="*.java"/>
                   <test property="org.eclipse.debug.ui.matchesPattern" value="*.class"/>
                   <instanceof value="org.eclipse.jdt.core.IJavaElement"/>
                 </or>
               </iterate>
             </with>
           </enablement>
  		 </contextualLaunch>
      </shortcut>
   </extension>  
   
	<extension point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="Run As Terrracotta Test"
            id="com.tc.debug.ui.dsoApplicationShortcut.run"
            name="Run As Terracotta Test">
      </command>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="Debug As Terrracotta Test"
            id="com.tc.debug.ui.dsoApplicationShortcut.debug"
            name="Debug As Terracotta Test">
      </command>
   </extension>      

   <extension point="org.eclipse.ui.bindings">
      <key
  		sequence="M3+M2+X D"
  		commandId="com.tc.debug.ui.dsoApplicationShortcut.run"
  		schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
  		contextId="org.eclipse.ui.globalScope"/>
  	  <key
  		sequence="M3+M2+D D"
  		commandId="com.tc.debug.ui.dsoApplicationShortcut.debug"
  		schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
  		contextId="org.eclipse.ui.globalScope"/>
   </extension>
</plugin>
